@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Playfair+Display:ital@1&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&family=Roboto+Slab:wght@200&display=swap');


*{
    margin: 0;
    padding: 0;
    /*font-family: "Open Sans", sans-serif;*/
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(2, 3, 3);
}

.about-section{
    background: url('../images/servicio.webp') no-repeat left;
    background-size: 55%;
    background-color: #9DB2BF;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #DDE6ED;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 10px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: rgb(4, 4, 4);
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    color: black;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

.card .carousel-item {
    height: 200px;
  }
  .card .carousel-caption {
    padding: 0;
    right: 0;
    left: 0;
    color: #3d3d3d;
  }
  .card .carousel-caption h3 {
    color: #3d3d3d;
  }
  .card .carousel-caption p {
    line-height: 30px;
  }
  .card .carousel-caption .col-sm-3 {
    display: flex;
    align-items: center;
  }
  .card .carousel-caption .col-sm-9 {
    text-align: left;
  }
  .navi a {
      text-decoration:none;
  }
  a > .ico {
      background-color: grey;
      padding: 10px;
      
  }
  a:hover > .ico {
      background-color: #666;
  }

  .rounded-circle .img-fluid{
    background-color: #666;
  }